<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jandrullue">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/addbutton"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/addbutton"
        android:supportsRtl="true"
        android:theme="@style/Theme.JandruLlue">
        <activity android:name=".Trivial"></activity>
        <activity android:name=".TrivialDifficulties" />
        <activity android:name=".ElCamino3_Nuevo" />
        <activity android:name=".ElCaminoCampeon" />
        <activity android:name=".ElCamino3" />
        <activity android:name=".ElCaminoPerdedor" />
        <activity android:name=".ElCamino2_Aux" />
        <activity android:name=".ElCamino_2_1" />
        <activity android:name=".ElCamino_1_4" />
        <activity android:name=".ElCamino_1_3" />
        <activity android:name=".ElCamino_1_2" />
        <activity android:name=".ElCamino_1_1" />
        <activity android:name=".YoNuncaPacks" />
        <activity android:name=".YoNuncaLevels" />
        <activity android:name=".Fin" />
        <activity android:name=".VerdadoRetoContinuo" />
        <activity android:name=".VerdadoRetoCasoInicial" />
        <activity android:name=".YoNunca" />
        <activity android:name=".GamesModalities" />
        <activity android:name=".ChoosePlayers" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>